@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;700;900&display=swap");
*::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p::before, p::after, h1::before, h1::after {
  content: "";
  white-space: nowrap;
  user-select: none;
  color: rgba(223, 215, 215, 0.5803921569);
  font-family: "Inconsolata", monospace;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0px 5px;
  flex-wrap: nowrap;
}
p::before:hover, p::after:hover, h1::before:hover, h1::after:hover {
  content: "";
  color: rgb(41, 147, 247);
}

p::before {
  content: "<p>";
}

p::after {
  content: "</p>";
}

h1::before {
  content: "<h1>";
}

h1::after {
  content: "</h1>";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accordion {
  width: 100%;
}
.accordion .content-accordion {
  position: relative;
}
.accordion .content-accordion .label {
  position: relative;
  background-color: rgba(35, 35, 35, 0.337254902);
  color: white;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.507);
}
.accordion .content-accordion .label::after {
  content: "+";
  right: 20px;
  position: absolute;
  font-size: 1.5rem;
  transform: translateY(-20%);
}
.accordion .content-accordion .text-content {
  position: relative;
  overflow: hidden;
  border-top: none;
  background-color: rgba(35, 35, 35, 0.5137254902);
  height: 0px;
  transition: 0.7s;
  overflow-y: auto;
  text-align: center;
}
.accordion .content-accordion .text-content .p-text-content {
  padding-top: 10px;
}
.accordion .active .text-content {
  min-height: 100px;
  transition: 0.7s;
}
.accordion .active .label::after {
  content: "-";
  right: 25px;
  font-size: 2.5rem;
  transform: translateY(-30%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Ubuntu", sans-serif;
  background-image: url("../images/background/triangularblack.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pages {
  min-height: 100vh;
}
.pages .maior-e-menor {
  white-space: nowrap;
  user-select: none;
  color: rgba(223, 215, 215, 0.5803921569);
  font-family: "Inconsolata", monospace;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 5px;
  flex-wrap: nowrap;
}
.pages .maior-e-menor:hover {
  color: rgb(41, 147, 247);
}
.pages .content-whitch-maior-e-menor {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.pages .title-projects,
.pages .title-pages,
.pages .title-about {
  font-size: 3rem;
  text-align: center;
  padding: 2%;
  white-space: nowrap;
}
.pages .project-tecnologies {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.pages .project-tecnologies .tecnologies-icons {
  height: 50px;
}

.social-medias {
  text-align: center;
}
.social-medias .link-social {
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.social-medias .link-social .bi {
  font-size: 1.5rem;
}
.social-medias .link-social:hover.linkedin:hover {
  color: #0e76a8;
}
.social-medias .link-social:hover.github:hover {
  color: #171515;
}
.social-medias .link-social:hover.discord:hover {
  color: #3d47b6;
}

.page1 {
  background: linear-gradient(rgba(29, 47, 69, 0.7176470588), rgba(29, 47, 69, 0.6784313725)), url("../images/background/lago.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.page1 main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page1 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 15vh;
}
.page1 .header .logo .h1-logo {
  font-size: 2.5em;
  font-weight: 800;
  line-height: 25px;
}
.page1 .main-text {
  width: 70%;
  margin-top: 10%;
}
.page1 .main-text .h2-main {
  font-size: 2.813rem;
  margin-bottom: 0.5em;
  color: rgb(41, 147, 247);
}
.page1 .main-text .p-main {
  font-size: 1.25rem;
}
.page1 .main-text .arrow-down {
  margin-top: 100px;
  cursor: pointer;
  height: 80px;
  display: block;
  margin: auto;
}

.page2 {
  padding-bottom: 50px;
}
.page2 .projects-area {
  width: 75%;
  margin: auto;
}
.page2 .projects-area .projects {
  display: grid;
  margin: auto;
  grid-gap: 30px 30px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
}
.page2 .projects-area .projects .project-item {
  position: relative;
}
.page2 .projects-area .projects .project-item:not(:hover) .content-hover-item {
  opacity: 0;
}
.page2 .projects-area .projects .project-item:hover {
  cursor: pointer;
}
.page2 .projects-area .projects .project-item:hover .img-project {
  opacity: 0.7;
  scale: 1.1;
  filter: grayscale(100%);
  background-color: black;
}
.page2 .projects-area .projects .project-item:hover .content-hover-item {
  opacity: 1;
  scale: 1.1;
  transition: 0.3;
}
.page2 .projects-area .projects .project-item .img-project {
  aspect-ratio: 16/9;
  height: 250px;
  border-radius: 10px;
  transition: 0.2s;
}
.page2 .projects-area .projects .project-item .content-hover-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  text-align: center;
}
.page2 .projects-area .projects .project-item .content-hover-item h2 {
  white-space: nowrap;
  font-size: 2.5em;
}
.page2 .projects-area .projects .project-item .content-hover-item .btn {
  font-size: 1.5em;
  padding: 1em 1.5em;
  color: white;
  background-color: transparent;
  border-radius: 10px;
  border: 3px solid white;
  cursor: pointer;
}

.page3 {
  min-height: 100vh;
  margin-top: 6em;
  background-image: url("../images/background/CircuitBoard.svg");
  box-shadow: 1px 1px 5px rgba(217, 218, 219, 0.3098039216);
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}
.page3 .about-me {
  display: grid;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: 2fr 1fr 2fr;
}
.page3 .about-me .what-i-do {
  padding: 1em;
}
.page3 .about-me .what-i-do h2,
.page3 .about-me .what-i-do h1,
.page3 .about-me .what-i-do h3 {
  text-align: center;
}
.page3 .about-me .what-i-do h1 {
  margin-bottom: 1em;
}
.page3 .about-me .what-i-do .bi-lightbulb-fill {
  color: yellow;
}
.page3 .about-me .what-i-do ul {
  margin: 1em;
}
.page3 .about-me .what-i-do ul li {
  list-style-type: none;
  margin-left: 1em;
}
.page3 .about-me .what-i-do .project-tecnologies .tecnologies-icons {
  height: 30px;
  text-align: center;
  margin-bottom: 15px;
}
.page3 .about-me .about-me-img {
  height: 200px;
}
.page3 .about-me .about-titles {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page3 .about-me .destacado {
  color: #0e76a8;
}
.page3 .about-me .about-me-text {
  text-align: center;
  padding: 1em;
}
.page3 .about-me .about-me-text h1 {
  margin-bottom: 1em;
}
.page3 .about-me .about-me-text .p-about-me {
  font-size: 1.4em;
  text-align: justify;
}

.footer .contact-title {
  text-align: center;
  padding: 10px;
  font-size: 2.5em;
  white-space: nowrap;
}
.footer .contact-me {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  row-gap: 5em;
  padding: 2em;
}
.footer .contact-me .text-contato {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .contact-me .text-contato h2 {
  font-size: 1.5em;
  padding-top: 1em;
  margin: 0.5em 0;
}
.footer .contact-me .text-contato p {
  width: 60%;
}
.footer .contact-me .social-medias-footer h1 {
  padding-bottom: 30px;
}
.footer .contact-me .social-medias-footer a {
  font-size: 3.188rem;
}
.footer .contact-me .social-medias-footer p {
  margin: 15px;
}
.footer .contact-me .social-medias-footer .link-social {
  font-size: 1em;
}
.footer .contact-me .social-medias-footer .btn {
  padding: 1em 2em;
  font-size: 1em;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 1em;
  width: 200px;
}
.footer .contact-me .social-medias-footer .btn-whats:hover {
  background-color: green;
  border: 2px solid green;
}
.footer .contact-me .social-medias-footer .btn-whats:hover a {
  color: white;
}
.footer .contact-me .social-medias-footer .btn-email:hover {
  background-color: white;
  border: 2px solid #bb001b;
}
.footer .contact-me .social-medias-footer .btn-email:hover a {
  color: #bb001b;
}

@media (max-width: 820px) {
  body .pages .title-projects,
  body .pages .title-pages,
  body .pages .title-about {
    font-size: 2rem;
  }
  body .page1 .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .page1 .header .logo .h1-logo {
    font-size: 2em;
    font-weight: 800;
    line-height: 25px;
  }
  body .page1 .main-text {
    margin: 20% auto 10% auto;
    width: 100%;
    text-align: center;
  }
  body .page1 .main-text .h2-main {
    font-size: 2.3rem;
  }
  body .page2 .title-projects {
    margin: 1em 0;
  }
  body .page2 .projects-area .projects {
    grid-template-columns: auto;
  }
  body .page2 .projects-area .projects .project-item .img-project {
    height: auto;
    aspect-ratio: 15/8;
    width: 300px;
  }
  body .page2 .projects-area .projects .project-item .content-hover-item {
    transform: translate(-45%, -50%);
  }
  body .page2 .projects-area .projects .project-item .content-hover-item h2 {
    white-space: nowrap;
    font-size: 1.6em;
    padding-bottom: 0.4em;
  }
  body .page2 .projects-area .projects .project-item .content-hover-item .btn {
    font-size: 1em;
  }
  body .page3 .about-me {
    grid-template-columns: auto;
    padding-bottom: 1em;
  }
  body .page3 .about-me .what-i-do {
    padding: 1em;
  }
  body .page3 .about-me .what-i-do h1 {
    margin-bottom: 0.5em;
    font-size: 1.5em;
  }
  body .page3 .about-me .what-i-do p {
    text-align: center;
    padding-bottom: 0.4em;
  }
  body .page3 .about-me .about-me-text {
    text-align: center;
    padding: 0.5em;
  }
  body .page3 .about-me .about-me-text h1 {
    margin-bottom: 1em;
  }
  body .page3 .about-me .about-me-text .p-about-me {
    font-size: 1.3em;
    text-align: justify;
  }
  .footer .contact-title {
    font-size: 1.8em;
  }
  .footer .contact-me {
    flex-direction: column;
    align-items: justify;
    width: 100%;
  }
  .footer .contact-me .text-contato {
    width: 100%;
  }
  .footer .contact-me .text-contato h2 {
    padding-top: 1em;
    margin: 0.5em 0;
    font-size: 1.5em;
  }
  .footer .contact-me .text-contato p {
    width: 100%;
  }
  .footer .social-medias-footer h1 {
    padding-bottom: 30px;
    font-size: 1.5em;
    margin-top: 0.5em;
  }
  .footer .social-medias-footer a {
    font-size: 1rem;
  }
  .footer .social-medias-footer p {
    margin-top: 5px;
    white-space: nowrap;
    font-size: 0.7em;
  }
  .footer .social-medias-footer .btn {
    margin: 0.5em;
  }
}
@media (min-width: 820px) and (max-width: 1024px) {
  body .pages .title-projects,
  body .pages .title-pages,
  body .pages .title-about {
    font-size: 2rem;
  }
  body .page1 .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .page1 .header .logo .h1-logo {
    font-size: 2em;
    font-weight: 800;
    line-height: 25px;
  }
  body .page1 .main-text {
    margin: 20% auto 10% auto;
    width: 100%;
    text-align: center;
  }
  body .page1 .main-text .h2-main {
    font-size: 2.3rem;
  }
  body .page2 .title-projects {
    margin: 1em 0;
  }
  body .page2 .projects-area .projects {
    grid-template-columns: auto auto;
  }
  body .page2 .projects-area .projects .project-item .img-project {
    height: auto;
    aspect-ratio: 15/8;
    width: 300px;
  }
  body .page2 .projects-area .projects .project-item .content-hover-item {
    transform: translate(-45%, -50%);
  }
  body .page2 .projects-area .projects .project-item .content-hover-item h2 {
    white-space: nowrap;
    font-size: 1.6em;
    padding-bottom: 0.4em;
  }
  body .page2 .projects-area .projects .project-item .content-hover-item .btn {
    font-size: 1em;
  }
  body .page3 .about-me {
    grid-template-columns: auto;
    padding-bottom: 1em;
  }
  body .page3 .about-me .what-i-do {
    padding: 1em;
  }
  body .page3 .about-me .what-i-do h1 {
    margin-bottom: 0.5em;
    font-size: 1.5em;
  }
  body .page3 .about-me .what-i-do p {
    text-align: center;
    padding-bottom: 0.4em;
  }
  body .page3 .about-me .about-me-text {
    text-align: center;
    padding: 0.5em;
  }
  body .page3 .about-me .about-me-text h1 {
    margin-bottom: 1em;
  }
  body .page3 .about-me .about-me-text .p-about-me {
    font-size: 1.3em;
    text-align: justify;
  }
  .footer .contact-title {
    font-size: 1.8em;
  }
  .footer .contact-me {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: justify;
    width: 100%;
  }
  .footer .contact-me .text-contato {
    width: 100%;
  }
  .footer .contact-me .text-contato h2 {
    padding-top: 1em;
    margin: 0.5em 0;
    font-size: 1.5em;
  }
  .footer .contact-me .text-contato p {
    width: 100%;
  }
}
@media (min-width: 1450px) {
  body h1 {
    font-size: 5em;
  }
  body p {
    font-size: 2em;
  }
  .page1 .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page1 .header .logo .h1-logo {
    font-size: 3.5em;
    font-weight: 800;
    line-height: 25px;
  }
  .page1 .main-text .h2-main {
    font-size: 3.5rem;
  }
  .page2 .projects-area .title-projects {
    font-size: 5em;
  }
  .page2 .projects-area .projects .project-item {
    position: relative;
  }
  .page2 .projects-area .projects .project-item .img-project {
    aspect-ratio: 16/9;
    height: 500px;
    border-radius: 10px;
    transition: 0.2s;
  }
  .page3 .about-me .what-i-do {
    padding: 1em;
  }
  .page3 .about-me .what-i-do h1 {
    margin-bottom: 0.5em;
    font-size: 3.5em;
  }
  .page3 .about-me .what-i-do p {
    text-align: center;
    padding-bottom: 0.4em;
  }
  .page3 .about-me .what-i-do li {
    font-size: 1.7em;
  }
  .page3 .about-me .about-me-text {
    text-align: center;
    padding: 0.5em;
  }
  .page3 .about-me .about-me-text h1 {
    font-size: 3.5em;
    margin-bottom: 1em;
  }
  .page3 .about-me .about-me-text .p-about-me {
    font-size: 2em;
    padding: 0.5em;
  }
  .footer .contact-title {
    font-size: 3.5em;
  }
  .footer .contact-me .text-contato h2 {
    padding-top: 1em;
    margin: 0.5em 0;
    font-size: 2.5em;
  }
  .footer .contact-me .text-contato p {
    width: 100%;
  }
  .footer .social-medias-footer h1 {
    padding-bottom: 30px;
    font-size: 2.5em;
    white-space: nowrap;
    margin-top: 0.5em;
  }
  .footer .social-medias-footer a, .footer .social-medias-footer .link-social {
    font-size: 2.5rem;
  }
  .footer .social-medias-footer p {
    margin-top: 5px;
    white-space: nowrap;
    font-size: 1.5em;
  }
}

/*# sourceMappingURL=style.css.map */
