@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,300;1,400&display=swap");
// font das tags
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;700;900&display=swap");

@import "./elementsStyleTagsExtras.scss";
@import "./accordion.scss";

$font-tags: "Inconsolata", monospace;
$font-body: "Ubuntu", sans-serif;
$font-maior-menor-hover: rgb(41, 147, 247);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: $font-body;
  background-image: url("../images/background/triangularblack.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.pages {
  min-height: 100vh;

  .maior-e-menor {
    white-space: nowrap;
    user-select: none;
    color: #dfd7d794;
    font-family: $font-tags;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 5px;
    flex-wrap: nowrap;
   
    
  }
  .maior-e-menor:hover {
    color: $font-maior-menor-hover;
  }
  .content-whitch-maior-e-menor {
    display: flex;
    flex-wrap: nowrap;

    justify-content: center;
  }
  .title-projects,
  .title-pages,
  .title-about {
    font-size: 3rem;
    text-align: center;
    padding: 2%;
    white-space: nowrap;
  }
  .project-tecnologies {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .tecnologies-icons {
      height: 50px;
    }
  }
}
.social-medias {
  text-align: center;


  .link-social {
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    .bi {
      font-size: 1.5rem;
    }
    &:hover {
      &.linkedin:hover {
        color: #0e76a8;
      }
      &.github:hover {
        color: #171515;
      }
      &.discord:hover {
        color: #3d47b6;
      }
    }
  }
}
.page1 {

  background: linear-gradient(#1d2f45b7,#1d2f45ad),url("../images/background/lago.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  main{
    display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;

    
    .logo {
      .h1-logo {
        font-size: 2.5em;
        font-weight: 800;
        line-height: 25px;
      }
    }

   
  }
  .main-text {
    width: 70%;
   margin-top:10%;
    
    .h2-main {
      font-size: 2.813rem;
      margin-bottom: 0.5em;
      color: $font-maior-menor-hover;
    }
    .p-main {
      font-size: 1.25rem;
    }

    .arrow-down {
      margin-top: 100px;
      cursor: pointer;
      height: 80px;

      display: block;
      margin: auto;
    }
  }
}

.page2 {
  padding-bottom: 50px;
  .projects-area {
    width: 75%;
    margin: auto;

    .projects {
      display: grid;
      margin: auto;
      grid-gap: 30px 30px;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      justify-items: center;

      .project-item {
        position: relative;
        &:not(:hover) {
          .content-hover-item {
            opacity: 0;
          }
        }
        &:hover {
          cursor: pointer;
          .img-project {
            opacity: 0.7;
            scale: 1.1;
            filter: grayscale(100%);
            background-color: black;
          }

          .content-hover-item {
            opacity: 1;
            scale: 1.1;
            transition: 0.3;
          }
        }
        .img-project {
          aspect-ratio: 16/9;
          height: 250px;
          border-radius: 10px;
          transition: 0.2s;
        }
        .content-hover-item {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-45%,-50%);
          text-align: center;
          h2 {
            white-space: nowrap;
            font-size: 2.5em;
          }
          .btn {
            font-size: 1.5em;
            padding: 1em 1.5em;
            color: white;
            background-color: transparent;
            border-radius: 10px;
            border: 3px solid white;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.page3 {
  min-height: 100vh;
  margin-top: 6em;
  background-image: url("../images/background/CircuitBoard.svg");
  box-shadow: 1px 1px 5px #d9dadb4f;
  border-top: 3px solid white;
  border-bottom: 3px solid white;

  .about-me {
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 2fr 1fr 2fr;

    .what-i-do {
      padding: 1em;
      h2,
      h1,
      h3 {
        text-align: center;
      }
      h1 {
        margin-bottom: 1em;
      }
      .bi-lightbulb-fill {
        color: yellow;
      }
      ul {
        margin: 1em;
        li {
          list-style-type: none;
          margin-left: 1em;
        }
      }

      .project-tecnologies {
        // display:grid;
        // grid-template-columns: auto auto auto auto;
        // align-items:center;
        // justify-content:center;
        // gap:20px;
        .tecnologies-icons {
          height: 30px;
          text-align: center;
          margin-bottom: 15px;
        }
      }
    }
    .about-me-img {
      height: 200px;
    }
    .about-titles {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .destacado{
      color:#0e76a8;
    }
    .about-me-text {
      text-align: center;
      padding: 1em;
      h1 {
        margin-bottom: 1em;
      }
      .p-about-me {
        font-size: 1.4em;
        text-align: justify;
      }
    }
  }
}

.footer {
    .contact-title {
      text-align: center;
      padding: 10px;
     font-size:2.5em;
      white-space: nowrap;
    }
  .contact-me {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    row-gap: 5em;
    padding:2em;
   .text-contato{
    width: 50%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    h2{
      font-size:1.5em;
        padding-top:1em;
        margin:0.5em 0;
       
        
    }
    p{
      width:60%;
    }
   }
    
    .social-medias-footer {
       
      h1 {
        padding-bottom: 30px;
      }
      a {
        font-size: 3.188rem;
      }
      p {
        margin: 15px;
      }
      .link-social {
        font-size: 1em;
      }
      .btn {
        padding: 1em 2em;
        font-size: 1em;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 1em;
        width: 200px;
      }
      .btn-whats {
        &:hover {
          a {
            color: white;
          }
          background-color: green;
          border: 2px solid green;
        }
      }
      .btn-email {
        &:hover {
          a {
            color: #bb001b;
          }
          background-color: white;
          border: 2px solid #bb001b;
        }
      }
    }
  }
}
@media (max-width: 820px) {
  body {
    .pages {
      .title-projects,
      .title-pages,
      .title-about {
        font-size: 2rem;
      }
    }
    .page1 {
      .header {
        display:flex;
        align-items:center;
        justify-content: center;
        .logo {
          
          .h1-logo {
            font-size: 1.7em;
            font-weight: 800;
            line-height: 25px;
          }
        }
      
        
      }
      .main-text {
        margin: 20% auto 10% auto;
        width: 100%;
        text-align: center;
        .h2-main {
          font-size: 2.3rem;
        }
      }
    }

    .page2 {
      .title-projects{
        margin:1em 0;
      }
      .projects-area {
        .projects {
        
        grid-template-columns: auto;
        .project-item{
          .img-project{
            height:auto;
            aspect-ratio: 15/8;
            width:300px;
          }.content-hover-item {
            transform: translate(-45%,-50%);
            
          
            h2 {
              white-space: nowrap;
              font-size: 1.6em;
              padding-bottom:0.4em;
            }
            .btn {
              font-size: 1em;
              
            }
          }
        }
        
      }
        
      }
    }
    .page3 {
      .about-me{
        grid-template-columns: auto;
        padding-bottom:1em;

        .what-i-do {
          padding: 1em;
          
          h1 {
            margin-bottom: 0.5em;
            font-size:1.5em;
          }p{
            text-align:center;
            padding-bottom: 0.4em;
          }
          
        }.about-me-text {
          text-align: center;
          padding: 0.5em;
          h1 {
            margin-bottom: 1em;
          }
          .p-about-me {
            font-size: 1.3em;
            text-align: justify;
          }
        }
      }
    }
  }
  .footer {
    .contact-title{
      font-size:1.8em;
    }
    .contact-me {     
flex-direction: column;
      align-items: justify;
      width: 100%;
      .text-contato{
        width: 100%;
        
        
        h2{
            padding-top:1em;
            margin:0.5em 0;
            font-size:1.5em;
            
          
        }
        p{
          width:100%;
        }
       }
      
    }
    .social-medias-footer {
       
      h1 {
        padding-bottom: 30px;
        font-size: 1.5em;
        margin-top:0.5em;
      }
      a {
        font-size: 1rem;
      }
      p {
        margin-top: 5px;
        white-space: nowrap;
        font-size:0.7em;
      }
      
      .btn {
        
        margin:0.5em;
        
      }
     
    }
  }

 
}
@media (min-width:820px)and (max-width: 1024px) {
  body {
    .pages {
      .title-projects,
      .title-pages,
      .title-about {
        font-size: 2rem;
      }
    }
    .page1 {
      .header {
        display:flex;
        align-items:center;
        justify-content: center;
        .logo {
          
          .h1-logo {
            font-size: 2em;
            font-weight: 800;
            line-height: 25px;
          }
        }
      
        
      }
      .main-text {
        margin: 20% auto 10% auto;
        width: 100%;
        text-align: center;
        .h2-main {
          font-size: 2.3rem;
        }
      }
    }

    .page2 {
      .title-projects{
        margin:1em 0;
      }
      .projects-area {
        .projects {
        
        grid-template-columns: auto auto;
        .project-item{
          .img-project{
            height:auto;
            aspect-ratio: 15/8;
            width:300px;
          }.content-hover-item {
            transform: translate(-45%,-50%);
            
          
            h2 {
              white-space: nowrap;
              font-size: 1.6em;
              padding-bottom:0.4em;
            }
            .btn {
              font-size: 1em;
              
            }
          }
        }
        
      }
        
      }
    }
    .page3 {
      .about-me{
        grid-template-columns: auto;
        padding-bottom:1em;

        .what-i-do {
          padding: 1em;
          
          h1 {
            margin-bottom: 0.5em;
            font-size:1.5em;
          }p{
            text-align:center;
            padding-bottom: 0.4em;
          }
          
        }.about-me-text {
          text-align: center;
          padding: 0.5em;
          h1 {
            margin-bottom: 1em;
          }
          .p-about-me {
            font-size: 1.3em;
            text-align: justify;
          }
        }
      }
    }
  }
  .footer {
    .contact-title{
      font-size:1.8em;
    }
    .contact-me {     
flex-direction: column;
justify-content: center;
align-items: center;
      align-items: justify;
      width: 100%;
      .text-contato{
        width: 100%;
        
        
        h2{
            padding-top:1em;
            margin:0.5em 0;
            font-size:1.5em;
            
          
        }
        p{
          width:100%;
        }
       }
      
    }
   
  }

 
}
@media(min-width:1450px){
  body{
    h1{
      font-size:5em;
    }
    p{
      font-size:2em;
    }
    
  }.page1 {
    .header {
      display:flex;
      align-items:center;
      justify-content: center;
      .logo {
        
        .h1-logo {
          font-size: 3.5em;
          font-weight: 800;
          line-height: 25px;
        }
      }
    
      
    }.main-text {
     
      .h2-main {
        font-size: 3.5rem;
      }
    }
    
  }
  .page2{
    .projects-area{
      .title-projects{
      font-size:5em;
    }
    .projects {
     

      .project-item {
        position: relative;
        
       
        .img-project {
          aspect-ratio: 16/9;
          height: 500px;
          border-radius: 10px;
          transition: 0.2s;
        }
        
      }
    }
    }
  } .page3 {
    .about-me{
      

      .what-i-do {
        padding: 1em;
        
        h1 {
          margin-bottom: 0.5em;
          font-size:3.5em;
        }p{
          text-align:center;
          padding-bottom: 0.4em;

        }li{
          font-size:1.7em;
        }
        
      }.about-me-text {
        text-align: center;
        padding: 0.5em;
        h1 {
          font-size:3.5em;
          margin-bottom: 1em;
        }
        .p-about-me {
          font-size: 2em;
          padding:0.5em;
          
        }
      }
    }
  }.footer {
    .contact-title{
      font-size:3.5em;
    }
    .contact-me {     

      
      .text-contato{
        
        
        
        h2{
            padding-top:1em;
            margin:0.5em 0;
            font-size:2.5em;
            
          
        }
        p{
          width:100%;
        }
       }
      
    }
    .social-medias-footer {
       
      h1 {
        padding-bottom: 30px;
        font-size: 2.5em;
        white-space:nowrap;
        margin-top:0.5em;
      }
      a, .link-social {
        font-size: 2.5rem;
      }
      p {
        margin-top: 5px;
        white-space: nowrap;
        font-size:1.5em;
      }
      
      
     
    }
  }
}

